.header {
  align-items: center;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
  justify-content: space-between;

  &__title {
    width: 50%;
  }

  &__amount {
    background-color: lightblue;
    border-radius: 8px;
    padding: 5px;
  }
}
