.crypto-card {
  align-items: flex-start;
  background-color: #2a2a2a;
  border-radius: 8px;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;
  padding: 10px 20px;

  &__img {
    width: 20%;
  }

  &__details {
    display: flex;
    flex-direction: column;
    width: 100%;

    .value-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .variation {
        background-color: #051a02;
        border-radius: 8px;
        color: #136307;
        padding: 0 8px;
      }
    }
  }
}
